/* --------------------------
営業日・休館日部分
-------------------------- */
#schedule {
  margin-top: 200px;
  text-align: center;
}

#schedule #info {
  width: 60%;
  border-collapse: collapse;
  border-color: #3C5EBB;
  margin: 30px auto 0;
}

#schedule #info th {
  padding: 10px 0;
  font-size: 20px;
  background:#3C5EBB;
  color: #fff;
  width: 50%;
}

#schedule #info td {
  padding: 20px 0;
  font-size: 18px;
  width: 50%;
}

#schedule ul {
  list-style: disc;
  margin: 10px 0 0 250px;
  padding: 0;
  text-align: left;
  width: 50%;
}

#schedule ul li a {
  text-decoration: underline;
  color: #9F39BE;
  display: inline-block;
}

#schedule ul li a:hover{
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 1s;
}


/* ------------------------------
料金表
------------------------------ */
#price {
  text-align: center;
  margin-top: 0;
}

#price #prices {
  width: 60%;
  border-collapse: collapse;
  border-color: #3C5EBB;
  margin: 30px auto 0;
}

#price #prices th {
  padding: 15px 0 10px 0;
  font-size: 20px;
  line-height: 15px;
  width: 20%;
  background:#3C5EBB;
  color: #fff;  
}

#price #prices th span {
  font-size: 10px;
}


#price #prices td {
  padding: 20px 0;
  font-size: 18px;
}

#price ul {
  list-style: disc;
  margin: 10px 0 0 250px;
  padding: 0;
  text-align: left;
  width: 50%;
}

/* -----------------------------
団体料金
----------------------------- */
#price .group {
  width: 60%;
  text-align: left;
  margin: 40px auto 100px;
}

#price .group h3 {
  border-bottom: 1px solid #ba983c;
  padding-bottom: 5px;
  color: #ba983c;
}

#price .group p {
  margin: 10px 0;
}

#price .group #group-prices {
  width: 100%;
  border-collapse: collapse;
  border-color: #3C5EBB;
  margin: 30px auto 0;
  text-align: center;
}

#price .group #group-prices th {
  padding: 15px 0 10px 0;
  font-size: 20px;
  line-height: 15px;
  width: 20%;
  background:#3C5EBB;
  color: #fff;
}

#price .group #group-prices th span {
  font-size: 10px;
}


#price .group #group-prices td {
  padding: 20px 0;
  font-size: 18px;
}

#price .group ul {
  list-style: disc;
  margin: 10px 0 0 35px;
  padding: 0;
  text-align: left;
  width: 50%;
}




/* ----------------------------------
レスポンシブ
---------------------------------- */
@media (max-width: 600px) {

  .container {
    width: 100%;
    padding: 30px;
  }

  #header {
    width: 100%;
    height: 20vh;
  }

  #header #svg-bg {
    z-index: -10;
  }

  /* -------------------------
  営業時間・休館日
  ------------------------- */
  #schedule {
    margin-top: 30px;
    text-align: center;
  }

  #schedule #info {
    width: 100%;
  }

  #schedule #info th {
    font-size: 16px;
    padding: 5px;
  }

  #schedule #info td {
    font-size: 16px;
    padding: 10px 0;
  }

  #schedule ul {
    margin-left: 20px;
    padding: 0;
    text-align: left;
    width: 100%;
    font-size: 14px;
  }

  /* -------------------------
  料金
  ------------------------- */
  #price #prices {
  width: 100%;
  }

  #price #prices th {
    font-size: 16px;
    padding: 5px;
  }

  #price #prices th span {
    font-size: 9px;
  }

  #price #prices td {
    font-size: 16px;
    padding: 10px 0;
  }

  #price ul {
    margin-left: 20px;
    padding: 0;
    text-align: left;
    width: 100%;
    font-size: 14px;
  }

  /* ------------------------------
  団体料金
  ------------------------------ */
  #price .group {
    width: 100%;
    text-align: left;
    margin: 40px auto 150px;
  }

  #price .group #group-prices th {
    font-size: 16px;
    padding: 5px;
  }

  #price .group #group-prices th span {
    font-size: 9px;
  }

  #price .group #group-prices td {
    font-size: 16px;
    padding: 10px 0;
  }

  #price .group #group-prices ul {
    margin-left: 20px;
    padding: 0;
    text-align: left;
    width: 100%;
    font-size: 14px;
  }
}

