.contain {
  width: 65%;
  margin: 0 auto;
  padding: 20px;
  background: pink;
}

/* ----------------------------------
テキスト部分
---------------------------------- */
#about {
  text-align: center;
}

#about h2 {
  font-size: 30px;
}

#about .text {
  background: silver;
  font-size: 18px;
  line-height: 4;
  letter-spacing: 0.2em;
}


/* ----------------------------------------
ディレクター紹介部分
---------------------------------------- */
#director-profile {
  background: yellow;
  text-align: center;
}

#director-profile .face-photo {
  /* width: 30%;
  height: 40vh;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center; */
}

#director-profile .face-photo img {
  width: 40%;
  height: 45vh;
  object-fit: cover;
}

#director-profile .title-name {
  background: white;
  width: 40%;
  margin-top: 15px;
}

#director-profile .title-name p:nth-child(1) {
  width: 100%;
  font-size: 16px;
}

#director-profile .title-name p:nth-child(2) {
  width: 100%;
  font-size: 30px;
}



#director-profile .profile-text {
  background: silver;
  width: 40%;
  margin-top: 40px;
}

